$primary: #343659;
$dark: #343659;
$font-family-base: 'Roboto';
$font-size-root: 16px;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';

.dropstart .dropdown-toggle::before {
  display: none !important; // Hide the caret
}
.blur {
  backdrop-filter: blur(4px);
  border-bottom: solid 1px #343659;
}
