@use './custom' as *;

body {
  background-image: url('../assets/background-pattern.svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100dvh;
  @extend .vstack;
}
footer {
  backdrop-filter: blur(4px);
  border-top: solid 1px #343659;
  @extend .py-4;
  flex-shrink: 0;

  .footer-social-icons {
    display: inline-block;
    width: 24px; /* Adjust the width and height as needed */
    height: 24px;
    border-radius: 50%; /* Makes it circular */
    background-color: #343659; /* Background color */
    overflow: hidden; /* Hides overflow content (in case the image is larger than the circle) */
    padding: 0.35em; /* Adjust the padding as needed */
    transition: all ease-in-out 250ms;
    img {
      width: 100%; /* Makes the image fill the container */
      height: auto; /* Allows the image to maintain its aspect ratio */
      display: block; /* Ensures that the image doesn't create extra space */
    }

    &:hover{
        transform: translateY(-5px);
    }
  }
}
.navbar {
  backdrop-filter: blur(4px);
  border-bottom: solid 1px #343659;
}

.welcome-section {
  background-image: url('../assets/bg-image-1.svg');
}


.product{
    background-color: #343659;

    .product-image-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 300px; 
        @extend .shadow-lg;
        @extend .rounded;
        overflow: hidden;
        .product-image{
            position: absolute;
            width: 100%;
            height: 300px;
            object-fit: cover;
            z-index: 0;
        }
        .product-date{
            width: 100%;
            position: relative;
            z-index: 1;
            @extend .p-2;

            .value{
                @extend .rounded;
                @extend .p-2;
                border: solid 1px $light;
                backdrop-filter: blur(4px);
            }

            .date-sep img{
                width: 20px;
                height: 20px;
                @extend .mt-2;
            }
        }
    }
}

.onboarding{ 
    backdrop-filter: blur(4px);

    .onboarding-image{
        width: 64px;
        height: 64px;
        top: -24px;
        right: -10px;
        z-index: 2;
    }
}

.mobile-menu{
    top: 0;
    position: fixed;
    backdrop-filter: blur(20px);
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999999999;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: #343659;
    transition: all ease-in-out 250ms;
    img{
        width: 50px;
        height: 50px;
    }
}

.invalid-input {
  border: 1px solid red;  
}
.invalid-text{
    color: red;
}

.content{
    flex-grow: 1;
}